---
name: Build & Release

on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    branches:
      - main
      - release/**

jobs:
  github-actions:
    permissions:
      contents: write
    uses: martoc/workflow-github-actions/.github/workflows/github-actions.yml@v0
    secrets: inherit
