on:
  workflow_call:
    inputs:
      skip-lint:
        required: false
        type: boolean
      skip-format:
        required: false
        type: boolean
jobs:
  validate:
    runs-on: ubuntu-24.04
    container:
      image: martoc/terraform-tools:0.0.8
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Lint
        if: ${{ !inputs.skip-lint }}
        run: |
          tflint --init
          find . -type d | xargs -I {} tflint --chdir {}
      - name: format
        if: ${{ !inputs.skip-format }}
        run: |
          terraform fmt -check
      - name: validate
        run: |
          terraform init
          terraform validate
  release:
    needs: [validate]
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 10
          fetch-tags: true
      - name: Tag
        uses: martoc/action-tag@v0
      - name: Release on GitHub
        uses: martoc/action-release@v0
        if: ${{ github.event_name != 'pull_request' }}
